@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<frameset rows="140,*,27" cols="*" frameborder="no" border="0" framespacing="0">
    <frame src="http://www.baidu.com" name="title" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" style="border-bottom: 1px #ccc solid;" />

    <frameset id="container">
        <frame src="https://s.taobao.com/search?q=111" id="index_main" name='main' scrolling='Yes' noresize='noresize' />
    </frameset>
</frameset>
<noframes>
    <body>
    </body>
</noframes>
</html>
